body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #75B06F;
}
header{
    text-align: center;
    padding: 20px;
    background: #E491C9;
    color: aliceblue;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #25343F;
    padding: 12px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.content{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
/* media query for mobile screens*/
@media (max-width=600px) {/* max-width=600 -> it <=600 it increse up to 600*/
body{
    background-color:#A1BC98; /* changing the background colour*/
  }
  .content{
    font-size: 16px;
  }
  .navbar{
    flex-direction: column;
    align-items: center;
  }
  .navbar a{
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }


}