@using WebApplication3.Controllers;
@model Products

<h1 class=" display-5">Product Controller -Detais Index</h1>
<br />

<div>
	ProductId =@Model.Pid<br />
	ProductName=@Model.Pname<br />
	ProductPrice=@Model.Pprice<br />
	ProductCategory=@Model.Pcategory<br />

</div>
<br />
<a asp-action="Index" class=" btn btn-secondary">Back To List</a>
