@using WebApplication3.Controllers
@model Products

<h2 >Update the Products</h2>
<hr />

<form method="post">

	<div class="form-group">
		<label asp-for="Pid" class="form-label"></label>
		<input  asp-for="Pid" class="form-control" readonly/>
	</div>

	<div class="form-group">
		<label asp-for="Pname" class="form-label"></label>
		<input asp-for="Pname" class="form-control"/>
	</div>

	<div class="form-group">
		<label asp-for="Pprice" class="form-label"></label>
		<input asp-for="Pprice" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Pcategory" class="form-label"></label>
		<input asp-for="Pcategory" class="form-control" />
	</div>

	<button type="submit" class="btn btn-success">Update</button>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>

</form>
